
<div class="text-center">
    <h1>Pizzeria</h1>
    <div class="cont">
    <div class="card" style="width: 18rem;">
        <img src="~/img/margherita.jpg" />
        <div class="card-body">
            <h5 class="card-title">Margherita</h5>
            <p class="card-text">Pomodoro, mozzarella, basilico fresco, sale e olio.</p>
            <p class="card-text">4.99$</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
     <div class="card" style="width: 18rem;">
            <img src="~/img/diavola.jpg" />
        <div class="card-body">
                <h5 class="card-title">Diavola</h5>
                <p class="card-text">Pomodoro, mozzarella, salame piccante, peperoncino, olive nere.</p>
            <p class="card-text">6.99$</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
            <img src="~/img/formaggi.jpg" />
        <div class="card-body">
                <h5 class="card-title">Quattro formaggi</h5>
                <p class="card-text">Mozzarella, gorgonzola, fontina, parmigiano, basilico.</p>
            <p class="card-text">7.99$</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>
  
</div>
